page-vault {
  ion-segment {
    width: 200px;
    .segment-activated {
      border: 0px !important;
      span {
        font-weight: bold;
      }
    }
  }
  .vault-door {
    width: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 250px;
    color: colors(secondary);
    -webkit-animation: fa-spin 15s infinite linear;
    animation: fa-spin 15s infinite linear;
  }
  .middle-col {
    display: table;
    height: 50%;
    width: 100%;
    span,
    ion-item {
      .item-inner {
        border-bottom: 0px !important;
      }
      .range-pin {
        border-radius: 0px;
      }
      background: none;
      border: none;
      color: colors(primary);
      display:table-cell;
      vertical-align:middle;
    }
  }
  ion-item.vault-number.item-block {
    input {
      text-align: center;
    }
    .item-inner{
      border: none;
      box-shadow: none !important;
    }
    background: transparent;
    position: absolute;
    top: 40%;
    width: 93%;
    font-size: 26px;
    font-weight: bold;
    color: colors(primary);
  }
  .buttons {
    button{
      color: colors(back);
    }
  }
  .vault-status {
    ion-col {
      background-color: colors(secondary);
      font-weight: bold;
      padding: 2px;
      border: 2px solid colors(back);
    }
  }
  .middle-col {
    ion-item {
      display: block;
      ion-range {
        padding-top: 0px;
      }
      input {
        margin-bottom: 0px;
        text-align: center;
      }
    }
  }
}