page-main {
  .tabs {
    .tabbar {
      .tab-button {
        .tab-button-text {
          color: colors(primary);
          font-weight: bold;
        }
        border-bottom: 2px solid colors(primary);
      }
      .tab-button[aria-selected=true] {
        border-bottom-color: colors(back);
      }
    }
  }
}