@function colors($name){
  @return map-get($colors, $name)
}

$background-color: colors(back);
$text-color: colors(primary);

$font-family-base: Monaco, Menlo, Consolas, "Courier New", monospace !default;
$font-family-ios-base: Monaco, Menlo, Consolas, "Courier New", monospace !default;
$font-family-md-base: Monaco, Menlo, Consolas, "Courier New", monospace !default;
$font-family-wp-base: Monaco, Menlo, Consolas, "Courier New", monospace !default;