@function colors($name){
  @return map-get($colors, $name)
}

$background-color: colors(back);
$text-color: colors(primary);

$font-family-base: Monaco, Consolas, monospace !default;
$font-family-ios-base: Monaco, Consolas, monospace !default;
$font-family-md-base: Monaco, Consolas, monospace !default;
$font-family-wp-base: Monaco, Consolas, monospace !default;

$text-input-md-show-valid-highlight: false;